body {
  background-color: #F7F6F2;
}

hr {
  border-color: #4B6587;
  /* border: 1px dotted; */
  border-style: none none dotted;
  border-width: 10px;
  /* height: 1px; */
  width: 5%;
}

h1, h3 {
  color: #4B6587;
}
