<!DOCTYPE HTML>
<html>
<head>
	<title>Login</title>
</head>
<body>
<div class="container">
	<h1>Login</h1>
	<!-- This is where our form will go. -->
	<form method="POST" action="{{ url_for('login') }}">
		{{ form.csrf_token }}
		<p>
			{{ form.email.label }} <br> {{ form.email(size=30) }}
			{% for err in from.email.errors %}
			{% endfor %}
			<span style="color:red" >{{ err }}</span>
		</p>
		<p>
			{{ form.password.label }} <br> {{ form.password(size=30) }}
			{% for err in from.email.errors %}
			{% endfor %}
		</p>
		{{ form.submit }}
	</form>
</div>
</body>
</html>