<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="static/styles.css" rel="stylesheet" />
</head>
<body>
<form action="/login" method="post">
    <ul>
        <li>
            <label for="name">Name:</label>
            <input type="text" placeholder="name" name="user_name">
        </li>
        <li>
            <label for="password">Password:</label>
            <input type="password" placeholder="password" name="user_password">
        </li>
        <li class="button">
            <button type="submit">OK</button>
        </li>
    </ul>
</form>
</body>
</html>